SUBSYSTEM=="usb", ACTION=="remove", RUN+="/bin/sh -c '/sbin/uhubctl -a cycle -l 2; echo \"$(date): Resetting USB Hub\" >> /opt/reboot-usb-devices/logs/reboot-usb-devices.log'"
